.intro {
    background: url(../img/intro/img.jpg);
    height: 517px;
    margin: 64px 0;
    width: 100%;
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.video-button {
    background-color: #1abc9c; 
    color: white; 
    padding: 10px 20px; 
    font-size: 16px; 
    font-family: Arial, sans-serif; 
    text-decoration: none; 
    display: inline-block; 
    transform: skew(-10deg); 
    border: none; 
    cursor: pointer; 
    position: relative;
}

.video-button::after {
    content: '\25B6'; 
    margin-left: 10px;
    font-size: 16px;
    transform: skew(10deg); 
}

.video-button:hover {
    background-color: #16a085; 
}
#video-container {
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#video-iframe {
    width: 100%;
    max-width: 1200px;
    max-height: 517px;
    height: 100%;
}